body {
  background-color: #94b8b8;
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  margin: 20px;
  padding: 20px;
}

div {
  display: flex;
}

#images-holder {
  display: flex;
  justify-content: center;
}

#results-button {
  display: flex;
  justify-content: center;
}

footer {
  padding: 30px;
  text-align: center;
}
