body {
  background-color: #94b8b8;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

p {
  font-size: 20px;
}

img {
  height: 300px;
  margin: 0 10px;
  display: flex;
}

div {
  display: flex;
}

#images-holder {
  display: flex;
  justify-content: center;
}

#results-button {
  display: flex;
  justify-content: center;
}

footer {
  padding: 30px;
  text-align: center;
}
